@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply transition when hovering out */
.service-card-content {
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
  }
  
  .group:hover .service-card-content {
    opacity: 1;
    transform: translateX(0);
  }
  
  .group:not(:hover) .service-card-content {
    opacity: 0;
    transform: translateX(1rem); /* Adjust based on your needs */
  }
  
  input::placeholder {
    color: #987D9A; /* Tailwind's gray-400 */
    
  }
  
  input:-ms-input-placeholder {
    color: '#987D9A'; /* For Internet Explorer 10+ */
  }
  
  input::-ms-input-placeholder {
    color: '#987D9A'; /* For Microsoft Edge */
  }

  /* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  scrollbar-width: none;  /* Firefox */
}
.fixed {
  transition: transform 0.3s ease;
}

/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #F58634; /* Scrollbar thumb color */
  border-radius: 6px; /* Rounded corners */
  border: 3px solid transparent; /* Adds padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Hover state color */
}

/* For Firefox */
.scrollbar-custom {
  scrollbar-color: #888 #f1f1f1; /* Scrollbar thumb and track color */
  scrollbar-width: thin; /* Width of the scrollbar */
}
.custom-bullet li::marker {
  color: #f97316; /* Orange color for the bullet */
}